extends ../layout

block content
  h1 List of Institutes
  span.logout
    a(href=baseUrl+'/add') add institute
  if message
    span.msg= message
  if error
    span.error= error 
  if institutions[0]
    table(class="table table-striped")
      tr
        th SNo.
        th Name
        th Address
        th Type
        th Delete
        
      each inst,i in institutions
        tr
          td=i+start+1
          td
            a(href=baseUrl+'/edit/'+inst.id)=inst.name
          td=inst.address
          td=inst.type
          td
            a(href=baseUrl+'/del/'+inst.id onClick="return confirm('You really want to delete this institute?');") X
    div.text-center!= pages
  else
    span.msg No institution found!
